
.title{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;


}

.title2{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    

}
.verde {
      background-color: green;
      color: white;
    }
    .vermelho {
      background-color: red;
      color: white;
    }
    .azul {
      background-color: blue;
      color: white;
    }
    .roxo {
      background-color: purple;
      color: white;
    }
    form{
        text-align: center;
    }
    select.form-select {
        width: 15.5%;
        height: 3rem;
      }
      .container {
        display: flex;
        justify-content: center;
        align-items: center;
       
      }